* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../img/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 20px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.781);
}

h2 {
    margin: 10px 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.781);
}


.input-simbol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 30px;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.simbol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: rgba(128, 128, 128, 0.425);
    height: 100%;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
}

.tipText {
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    background-color: rgba(128, 128, 128, 0.452);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.rangeOutput {
    padding: 3px;
}


.card {
    width: 322px;
    height: 322px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    box-shadow: 0 0 20px black;
    border-radius: 15px;
    transition: all .3s;
   }
   
   .card2 {
    width: 322px;
    height: 322px;
    background-color: #353535c5;
    border-radius: 15px;
    transition: all .2s;
    

    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 15px;
    background-color: #5757578a;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }